<mat-card class="home">
    <mat-card-title>Imagem</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="imagem.nomeImagem" name="nomeImagem" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Texto" [(ngModel)]="imagem.texto" name="texto" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Figura" [(ngModel)]="imagem.figura" name="figura" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Áudio" [(ngModel)]="imagem.audio" name="audio" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Assunto" [(ngModel)]="imagem.assunto_idAssunto" name="assunto_idAssunto" disabled>
        </mat-form-field>




        <mat-form-field>

            <input matInput placeholder="Colaboracoes" [(ngModel)]="colaboracao.descricao" name="descricao" disabled>

        </mat-form-field>




    </form>
    <button mat-raised-button (click)="novaColaboracao()">
    Nova Colaboracao
    </button>
    <button mat-raised-button (click)="cancelar()">
    Cancelar
    </button>
</mat-card>