<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Plataforma Colaborativa de Descrição de Imagens
    </mat-card-title>

    <mat-card class="relative-parent">
        <div class="mat-elevation-z4">
            <table name="imagem" matSort>
                <td>
                    <tr>
                        <mat-card-subtitle>
                            O Projeto
                        </mat-card-subtitle>
                    </tr>
                    <tr>
                        <mat-card-subtitle>
                            O trabalho tem o intuito de auxiliar os alunos deficientes visuais e seus professores, trazendo uma plataforma colaborativa que contém a descrição e audiodescrição de imagens técnicas que poderão ser utilizadas pelos educadores na transmissão de conhecimento
                            para alunos deficientes. Com essa ferramenta, haverá a possibilidade do estudo em casa pelos alunos, reforçando os conteúdos aprendidos em sala de aula para compreender e fixar melhor o conhecimento. Já o professor poderá acessar
                            a plataforma no preparo da aula ou durante a mesma e utilizá-la, desta forma, como um instrumento para ensinar para o aluno com deficiência conteúdos visuais, os quais que são muito importantes para o domínio integral da matéria
                            e que ajudarão na formação de um profissional completo, pronto para o mercado e suas demandas. A plataforma é colaborativa observando que tanto professor quanto alunos poderão fazer colaborações relativas a imagens cadastradas
                            na plataforma, sendo possível apenas para professores criar as imagens. Também é prerrogativa do professor gerenciar as colaborações feitas em imagens criadas por ele, podendo excluir contributos vindos de outros professores
                            ou alunos.
                        </mat-card-subtitle>
                    </tr>

                </td>
            </table>
        </div>



    </mat-card>

</mat-card>